.carouselTrackWrapper {
    position: relative;
    overflow: hidden;
}

.carouselTrack {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.carouselItem {
    justify-items: center;
    align-items: center;
    flex-shrink: 0;
}

.carouselItem.selected {
    border: 1px solid #ccc;
}

.carouselItem.selected.centerMode {
    transform: scale(110%);
}

.carouselPage,
.carouselThumbnail {
    cursor: pointer;
}

.carouselPage.selected {
    font-weight: bold;
}

.carouselThumbnail.selected {
    border: 1px solid #333;
}